version: 2.1
executors:
  python-executor:
    docker:
      - image: cimg/python:3.9.9
orbs:
  python: circleci/python@2.1.1
  aws-cli: circleci/aws-cli@2.0.3
  browser-tools: circleci/browser-tools@1.4.8

jobs:
  builds:
    working_directory: ~/Flask-calculator
    executor: python-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt   
      - run:
          name: Build Script
          command: |
            pwd
            chmod 777 build.sh
            ls -la
            ./build.sh
            pwd
            ls -la     
      - run: 
          name: Python Version
          command: python3 --version
      - run: 
          name: Test
          command: |
            cd /home/circleci
            ls -lrth
      - run:
          name: Artifact Archiving
          command: |
            pwd
            chmod 777 artifact.sh
            ls -la
            ./artifact.sh
      - store_artifacts:
          path: ~/Flask-calculator/Flask-calculator.zip
          destination: Flask-calculator.zip

  deploy:
    working_directory: ~/Flask-calculator
    docker:
      - image: cimg/azure:2023.09
    steps:
      - checkout
      - run:
          name: Environment
          command: |
            cat /etc/os-release
            sudo mkdir -p /var/lib/apt/lists/partial
            sudo chmod 755 /var/lib/apt/lists/partial
            sudo rm /etc/apt/sources.list.d/kubernetes.list
            sudo apt-get update
      - run:
          name: Azure App Service Deploy
          command: |
            pwd
            chmod 777 artifact.sh
            ls -la
            ./artifact.sh
            pwd 
            ls -lrth
            curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
            az account set --subscription $AZURE_SUBSCRIPTION_ID
            az webapp deployment source config-zip -g $AZURE_RG_NAME -n $AZURE_WEBAPP_NAME --src *.zip
            az webapp up -n $AZURE_WEBAPP_NAME -g $AZURE_RG_NAME
  
  run_tests:
    working_directory: ~/Flask-calculator
    docker:
      - image: "cimg/python:3.9.9-browsers"
    steps: 
      - checkout 
      - python/install-packages: 
          pkg-manager: pip
      - aws-cli/setup
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
            google-chrome --version
            chromedriver --version
          name: Check install
      - run:
          name: List directory contents
          command: |
            pwd
            ls -la
      - run:
          name: Run Unit Tests and Selenium Tests
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            mkdir -p test-results/pytest
            mkdir -p test-results/selenium
            
            # Run pytest unit tests
            pytest --junitxml=test-results/pytest/junit.xml tests/
            
            # Run Selenium tests
            pwd
            ls -la
            cd /home/circleci/Flask-calculator/tests
            python selenium_driver_code.py
            
            # Verify Selenium results file was created
            if [ ! -f test-results/selenium/selenium_results.xml ]; then
              echo "Selenium results file not found. This may indicate a problem with the test execution."
              echo "rollback" > ~/test_status.txt
              exit 1
            fi
            
            # Check if either test suite failed
            if [ $? -ne 0 ] || grep -q "failures=\"[1-9][0-9]*\"" test-results/selenium/selenium_results.xml; then
              echo "Tests failing, executing rollback."
              echo "rollback" > ~/test_status.txt
            else
              echo "Tests are successful, no rollback required."
              echo "pass" > ~/test_status.txt
            fi
            
            # Continue with the rest of the pipeline
            echo "Continuing with the pipeline execution..."
      - store_test_results:
          path: test-results
      - persist_to_workspace:
          root: ~/
          paths:
            - test_status.txt

  rollback:
    working_directory: ~/Flask-calculator
    docker:
      - image: cimg/azure:2023.09
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Check Test Status and Rollback if Necessary
          command: |
            if [[ $(cat ~/test_status.txt) == "rollback" ]]; then
              echo "Tests failed. Performing rollback..."
              az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
              az account set --subscription $AZURE_SUBSCRIPTION_ID
              az webapp deployment source config-zip -g $AZURE_RG_NAME -n $AZURE_WEBAPP_NAME --src previous-stable.zip
            else
              echo "Tests passed. Skipping rollback."
            fi

workflows:
  build_and_test_deploy:
    jobs:
      - builds:
          context: Jira           
      - deploy:
          requires:
            - builds
          context: Jira
      - run_tests:
          requires:
            - deploy
          filters:
            branches:
              only: stage
      - rollback:
          requires:
            - run_tests
          filters:
            branches:
              only: stage